<div class="center">
	<p class="blue heading">Voice Commands</p>
	<div *ngIf="isListening">
		<p class="speak">App is Listening</p>
		<div class="spinner my-4 mx-auto animate__animated animate__zoomIn animate__faster">
			<div class="rect1 mx-1"></div>
			<div class="rect2 mx-1"></div>
			<div class="rect3 mx-1"></div>
			<div class="rect4 mx-1"></div>
			<div class="rect5 mx-1"></div>
		</div>
	</div>
	<div *ngIf="!isListening">
		<p class="speak">Press start to listen</p>
		<button class="py-1 px-3 btn-red mic my-4 animate__animated animate__zoomIn animate__faster" 
			(click)="start()">Start</button>
	</div>
	<div class="speech">
		<p>{{ transcript }}</p>
	</div>
</div>
