<div class="py-3 px-4 center">
	<h1 class="blue b-bottom pb-2">Update Employee</h1>
	<form ngNativeValidate>
		<div class="my-1">
			<label>Enter First name <br>
				<input class="px-2 py-1 my-1" type="text" [(ngModel)]="employee.firstName" name="firstName" required>
			</label>
		</div>
		<div class="my-1">
			<label>Enter Last name <br>
				<input class="px-2 py-1 my-1" type="text" [(ngModel)]="employee.lastName" name="LastName" required>
			</label>
		</div>
		<div class="my-1">
			<label>Enter Age <br>
				<input class="px-2 py-1 my-1" type="text" [(ngModel)]="employee.age" name="age" required>
			</label>
		</div>
		<div class="my-1">
			<label>Enter Position <br>
				<input class="px-2 py-1 my-1" type="text" [(ngModel)]="employee.position" name="position" required>
			</label>
		</div>
	</form>
</div>